* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

  /* ==== CUSTOMIZAÇÃO DOS LINKS ==== */

  a:link {
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    font-weight: normal;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: white;
    font-weight: bold;
  }

  a:active {
    color: white;
  }

  /* ====  FIM CUSTOMIZAÇÃO DOS LINKS ==== */

  .main {
    width: 100%;
    height: 100%;
  }
  
  #menu-principal {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    
    height: 50px;
    border-bottom: 1px solid gray;
  }
  
  .menu-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 17%;
    height: 50px;
    background-color: #357CA5;
  }
  
  .menu-middle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: 48%;
    height: 50px;
    background: #3C8DBC;
  }

  .botao-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 8px;
    line-height: 5px;
    height: 50px;
    cursor: pointer;
  }

  .botao-mobile:hover {
    background: #357CA5;
    color: white;
  }
  
  .menu-right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    padding-right: 20px;
    width: 35%;
    height: 50px;
    background: #3C8DBC;
  }
  
  /* ==== MENU ASIDE ==== */

  .conteudo-principal {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .conteudo-esquerdo {
    width: 17%;
  }

  .menu-aside {
    display: flex;
    flex-direction: column;
    
    background-color: #222D32;
    width: 100%;
  }

  .tela-nome-busca {
    display: grid;

    color: white;
    width: 100%;
    height: 130px;
  }

  .tela-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  .imagem-usuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 40%;
    height: 75px;
    padding-left: 15px;
  }

  .nome-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 60%;
    height: 75px;
    font-size: 15px;
    font-weight: normal;
  }

  .nome-status span[class="nome-usuario"] {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.5px;
    margin-bottom: 5px;
  }

  .nome-status span[class="online"] {
    cursor: pointer;
    font-size: 11px;
  }

  .nome-status span[class="icone-online"] {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 10px;
  }

  .tela-inferior {
    width: 100%;
  }

  .busca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 55px;
    width: 100%;
  }

  .busca .input-group {
    width: 90%;
    padding-right: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }

  .label-navegacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    background-color: #1A2226;
    color: #3A5B5A;
    font-size: 12px;
    padding-top: 15px;
    padding-left: 15px;
  }


  .item-navegacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    background-color: #1E282C;
    color: white;
    font-size: 15px;
  }

  .item-navegacao:hover {
    background: #1A2226;
  }

  ul {
    list-style-type: none;
  }

  ul li a:link {
    text-decoration: none;
    color: #FFF;
    font-family: 'Arial';
  }

  .link {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    padding-top: 5px;
    cursor: pointer;
  }

  .submenu {
    display: none;
    width: 100%;
    height: 50px;
    padding-left: 25px;
    background-color: #2C3B41;
  }

  .sublink {
    cursor: pointer;
  }

  .conteudo-direito {
    width: 83%;
    padding: 10px 10px 0 10px;
  }

  .conteudo-direito a:link {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  .informativos {
    padding-top: 15px;
  }

  .container-informativos {
    display: flex;
    width: 33%;
  }

  .caixa-informativos {
    width: 50%;
    border-radius: 5px;
  }

  .caixa-informativos:hover {
    -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.91); 
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.91);
  }

  .container-legenda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8px;
    color: rgb(63, 60, 60);
  }

  .legenda-negrito {
    font-weight: 700;
    font-size: 16px;
  }

  .barra-progresso {
    display: inline-block;
    width: 85%;
    height: 1.8px;
    margin: 4px 0;
  }

  #barra-progresso-rendimento {
    background-color: rgb(21, 195, 201);
  }

  #barra-progresso-despesa {
    background-color: red;
  }

  #barra-progresso-lucro {
    background-color: green;
  }

  .legenda-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .item-informativo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #informativo-rendimento {
    background-color: rgb(21, 195, 201);
  }

  #informativo-despesa {
    background-color: red;
  }

  #informativo-lucro {
    background-color: green;
  }